<!--
  Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
  
  Licensed under the Apache License, Version 2.0 (the "License").
  You may not use this file except in compliance with the License.
  A copy of the License is located at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  or in the "license" file accompanying this file. This file is distributed 
  on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either 
  express or implied. See the License for the specific language governing 
  permissions and limitations under the License.
-->

{{#if loading}}
			<div class="text-center"><img src="img/loading.gif" class="img-fluid"/></div>
{{else}}
	<div class="jumbotron">
	  <p class="lead">The following tweaks are made to captions on the application side, add or edit tweaks below to expand acronyms and fix common transcription issues or word casing. The required format is one property per line, for example: A.W.S.=AWS note that the case of the left hand expression is ignored but the case of the right hand expression is preserved.</p>
	</div>		
	<div class="px-2">
		<form>
			<div class="form-group">
				<textarea name="tweaks" id="tweaks" class="form-control" rows="10" placeholder="One entry per line a=b">{{#each tweaks}}
{{this}}{{/each}}</textarea>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary mb-2" onclick="javascript:saveTweaks($('#tweaks').val()); return false;">Save tweaks</button>
			</div>
		</form>
	</div>
{{/if}}