.wrappable { 
      overflow: hidden; 
      max-width: 300px; 
      word-wrap: break-word; 
}

.jumbotron {
	padding-top: 30px;
    padding-bottom: 10px;
}

.media-button {
    width: 40px !important;
}

.control-container {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
}

.control-button {
    width: 140px !important;
}

.slide-container {
    width: 100%;
    padding-bottom: 10px;    
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: #aaaaaa;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 0.8;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #2c70dd;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #2c70dd;
    cursor: pointer;
}

.video-container {
    position: relative;
    text-align: center;
}

.video-overlay {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0%);
	background: rgb(0, 0, 0);
	width: 95%;
   	background: rgba(0, 0, 0, 0.5); 
   	color: white; 
   	padding:0 5px; 
   	display:inline;
}

.timer-overlay {
    position: absolute;
    top: 8px;
    right: 8px;
	background: rgb(0, 0, 0);
   	background: rgba(0, 0, 0, 0.5); 
   	color: white; 
   	padding:0 5px; 
}

.speed-overlay {
    position: absolute;
    top: 8px;
    left: 8px;
	background: rgb(0, 0, 0);
   	background: rgba(0, 0, 0, 0.5); 
   	color: white; 
   	padding:0 5px; 
}

.option-selected {
	color: #59f442;;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
  display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: block;
}
